import(methods, RCurl, XML, wordcloud)

exportClasses("book", "pgbook")

export(rgutenberg, pg.license, gutenbook)

exportMethods("wordcloud", "summary",
  "author", "text", "language", "license", 
  "print", "show",
  "as.book"
)
